{% macro fields_loop(fields, data, untranslatable, readonly) %}
    {% import _self as macros %}

    {% for field in fields %}
        {% if field.type and field.translator|defined(true) %}
            {% if field.type not in untranslatable %}

                {% set field = field|merge({'readonly': readonly})  %}
                {% set value = field.name ? (form.value(field.name) ?? data.value(field.name)) : data.toArray %}
                {% if field.type is same as ('wysiwyg')%}
                    {% set field = field|merge({'type': 'textarea'})  %}
                {% endif %}

                {% if field.fields %}
                    {% if field.type is same as('list') %}
                        {% include "forms/fields/list/list.html.twig" %}
                    {% else %}
                        {{ macros.fields_loop(field.fields, data, untranslatable, readonly) }}
                    {% endif %}
                {% else %}
                    <div class="block block-{{ field.type }}">
                        {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
                    </div>
                {% endif %}

            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
